<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Vehicles</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Edit Book</h1>
    <form th:action="@{/vehicles/{id}(id=${vehicle.vehicle_id})}" th:object="${vehicle}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" th:field="*{vehicle_nameName}">
        </div>
        <div class="form-group">
            <label for="vehicle_color">Name</label>
            <input type="text" id="vehicle_color" class="form-control" th:field="*{vehicle_color}">
        </div><div class="form-group">
        <label for="vehicle_model">Name</label>
        <input type="text" id="vehicle_model" class="form-control" th:field="*{vehicle_model}">
    </div><div class="form-group">
        <label for="year_of_manufacture">Name</label>
        <input type="text" id="year_of_manufacture" class="form-control" th:field="*{year_of_manufacture}">
    </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
</body>
</html>
