
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Books</h1>
    <a class="btn btn-primary" th:href="@{/vehicle/new}">Add New Book</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>vehicle_nameName</th>
            <th>getVehicle_color</th>
            <th>getVehicle_model</th>
            <th>getYear_of_manufacture</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle : ${vehicle}">
            <td th:text="${vehicle.vehicle_nameName}"></td>
            <td th:text="${vehicle.getVehicle_color}"></td>
            <td th:text="${vehicle.getVehicle_model}"></td>
            <td th:text="${vehicle.getYear_of_manufacture}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/vehicle/{id}(id=${vehicle.id})}">Details</a>
                <a class="btn btn-warning" th:href="@{/vehicle/edit/{id}(id=${vehicle.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/vehicle/delete/{id}(id=${vehicle.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>