<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Book Details</h1>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${vehicle.vehicle_id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${vehicle.vehicle_nameName}"></td>
        </tr>
        <tr>
            <th>Color</th>
            <td th:text="${vehicle.vehicle_color}"></td>
        </tr>
        <tr>
            <th>Model</th>
            <td th:text="${vehicle.vehicle_model}"></td>
        </tr>
        <tr>
            <th>Year</th>
            <td th:text="${vehicle.year_of_manufacture}"></td>
        </tr>
        <!-- Add more fields as necessary -->
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/vehicles}">Back to vehicles</a>
</div>
</body>
</html>